* {
   margin: 0;
   padding: 0;
}

div h1 {
   font-size: 12rem;
   margin-bottom: 1px;
   font-family: 'Playfair Display', serif;
}

div h2 {
   font-size: 2rem;
   font-family: 'Playfair Display', serif;
}

div p {
   font-size: 1rem;
   line-height: 1.8;
   font-family: 'Lato', sans-serif;
}

section {
   background-color: rgb(193, 225, 241);
}

body {
   height: 1600px;
   background: url('../img/anastasia-taioglou-214773-unsplash.jpg') fixed 0 0/cover;
}

span {
   letter-spacing: 2px;
}

section div {
   width:70%;
   margin: auto;
   padding: 12px;
}

section:nth-child(1) {
   height: 533px;
   height: calc( 100vh - 200px);
   display: flex;
   text-align: center;
}

section p {
   height: 200px;
   align-items: center;
   width: 50%;
   margin: auto;
}
