* {
   margin: 0;
   padding: 0;
}

div h1:nth-of-type(1) {
   font-size: 20rem;
   margin-bottom: 1px;
   font-family: 'Vidaloka', serif;
   text-align: center;
}

div h2:nth-of-type(1) {
   font-size: 2rem;
   font-family: 'Lato', sans-serif;
   text-align: center;
}

div h3:nth-of-type(1) {
   font-size: 5rem;
   margin-bottom: 1px;
   font-family: 'Vidaloka', serif;
   text-align: center;
}

div h4:nth-of-type(1) {
   font-size: 1rem;
   font-family: 'Lato', sans-serif;
   text-align: center;
}

div h3:nth-of-type(2) {
   font-size: 5rem;
   margin-bottom: 1px;
   font-family: 'Vidaloka', serif;
   text-align: center;
}

div h4:nth-of-type(2) {
   font-size: 1rem;
   font-family: 'Lato', sans-serif;
   text-align: center;
}

div h3:nth-of-type(3) {
   font-size: 5rem;
   margin-bottom: 1px;
   font-family: 'Vidaloka', serif;
   text-align: center;
}

div h4:nth-of-type(3) {
   font-size: 1rem;
   font-family: 'Lato', sans-serif;
   text-align: center;
}

div h3:nth-of-type(4) {
   font-size: 5rem;
   margin-bottom: 1px;
   font-family: 'Vidaloka', serif;
   text-align: center;
}

div h4:nth-of-type(4) {
   font-size: 1rem;
   font-family: 'Lato', sans-serif;
   text-align: center;
}

div h3:nth-of-type(5) {
   font-size: 5rem;
   margin-bottom: 1px;
   font-family: 'Vidaloka', serif;
   text-align: center;
}

div h4:nth-of-type(5) {
   font-size: 1rem;
   font-family: 'Lato', sans-serif;
   text-align: center;
}

div h3:nth-of-type(6) {
   font-size: 8rem;
   font-family: 'Vidaloka', serif;
   text-align: center;
}

div p:nth-of-type(1) {
   font-size: 1.2rem;
   line-height: 1.8;
   font-family: 'Lato', sans-serif;
   text-align: center;
}

div p:nth-of-type(2) {
   font-size: 1rem;
   line-height: 1.8;
   font-family: 'Lato', sans-serif;
   text-align: center;
}

div h5 {
   font-size: 1rem;
   line-height: 1.8;
   font-family: 'Lato', sans-serif;
   text-align: right;
   width: 50%;
   padding-left: 25px;
}

img {
   border-radius: 50%;
   width: 50%;
   padding: 25px;
}

div h6 {
   font-size: 1rem;
   line-height: 1.8;
   font-family: 'Lato', sans-serif;
   text-align: left;
   width: 50%;
   padding-left: 25px;
}

body {
   height:1600px;
   background-color: rgb(193, 225, 241);
}

section {
   background: url('../img/anastasia-taioglou-214773-unsplash.jpg') fixed 0 0/cover;
}

span {
   letter-spacing: 2.5px;
}

section div {
   width:100%;
   margin: auto;
   text-align: center;
}

section:nth-child(1) {
   height: 533px;
   height: calc(100vh - 200px);
   display: flex;
   text-align: center;
}

section p {
   height: 200px;
   align-items: center;
   width: 50%;
   margin: auto;
}
