body {
   /* The following six declarations are equivalent to the last declaration in this rule. */ */
   background-color: rgb(1,5,5);
   /* background-image: url('../img/boarders-of-canada.jpg');
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-position: top;
   background-size: 100%, auto; */

   /* background: #ddd4d5 url('../img/children-sky.jpg') no-repeat fixed 30% 30% / cover; */
}
h1{
   color: #FAF2F2;
   text-align: right;
   font-family: Bauhaus, sans-serif;
   font-style: italic;
   font-size: 40px;
h2{
   color: #FAF2F2;
   text-align: right;
   font-family: Bauhaus, sans-serif;
   font-style: italic;

}
p{
   color: #FAF2F2;
   text-align: center;
   font-family: Bauhaus, sans-serif;
   font-style: italic;
}
section {
   height: 300px;
   display: flex;
}
section:nth-child(1) {
   background-color: rgb(1,5,5);
   background-image: url('../img/boarders-of-canada.jpg');
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-position: top;
   background-size: 100%, auto;
}
section:nth-child(2) {
    background-image: linear-gradient(blue, red);
}
section:nth-child(3) {
   background-image: url('../img/boarders-of-canada.jpg');

}
.container {
  display: flex; /* or inline-flex */
}
