* {
   margin: 0;
   padding: 0;
}

body{
  font-family: 'Muli', sans-serif,serif;
  background-image: url(../img/armand-khoury-639056-unsplash.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

}
div {
  height: 100vh;
}

div:nth-child(2) {
background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5144432773109244) 54%, rgba(255,255,255,0) 100%);
height: 500px;
}

div:nth-child(3) {
   background-color: black;
}


div:nth-child(4) {
   background-color: black;
   height:90vh;
   /* opacity: 0.9; */
}

div:nth-child(5) {
   background-color: white;
   opacity: 0.95;
   margin: 80px;
}

div:nth-child(6) {
   background-color: white;
   /* opacity: 0.9; */
 }

h1 {
  /* padding-top: 50vh; */
  margin-left: 200px;
  line-height: 100vh;
  font-variant: normal;
  font-size: 90px;
  font-weight: 600;
  /* text-align: center; */
  letter-spacing: 6px;
  color: white;
}

h2 {
  font-variant: normal;
  font-size: 2em;
  font-weight: 600;
  text-align:left;
  letter-spacing: 3px;
  color: white;
  padding-left: 200px;
  padding-top: 150px;
}
p {
   padding-top: 70px;
   margin: 0 700px 200px 200px;
   /* border: 3px solid green; */
   color: white;
   font-size: 15px;
   font-weight: 200;
   letter-spacing:1.2px;
   line-height:1.4;
 }
 div img{
           /* border: 3px solid green; */
           margin: 70px 100px 0px 900px;
           position: absolute;
           overflow:scroll;
         }
div:nth-child(4) h3{
  padding-top: 70px;
  margin: 0 100px 10px 700px;
  /* border: 3px solid green; */
  color: rgb(179, 179, 179);
  font-size: 13px;
  font-weight: 200;
  letter-spacing:1.1px;
  line-height:2;

}
span{
  color:white;
  font-weight:bold;
}

div:nth-child(4) p{
   padding-top: 40px;
   margin: 0 200px 20px 700px;
   /* border: 3px solid green; */
   color: white;
   font-size: 15px;
   font-weight: 200;
   letter-spacing:1.2px;
   line-height:1.4;
 }

div:nth-child(4) img{
          /* border: 3px solid green; */
          margin: 0px 900px 0px 100px;
          position: absolute;
          overflow:scroll;
        }

ul{
  padding-top: 0px;
  margin: 0 100px 10px 700px;
  /* border: 3px solid green; */
  color: rgb(179, 179, 179);
  font-size: 13px;
  font-weight: 100;
  letter-spacing:1.2px;
  line-height:1.5;

}

div:nth-child(5) p{
   padding-top: 80px;
   margin: 0 500px 10px 180px;
   /* border: 3px solid green; */
   color: black;
   font-size: 14px;
   font-weight:400;
   letter-spacing:1px;
   line-height:1.4;
 }

 section{
    margin: 0px -400px 0px 440px;
 }

cite{
  margin: 0 620px 20px 180px;
  font-size: 13px;
  font-weight: 200;
  letter-spacing:1px;
  line-height:1;

}
div:nth-child(6) p{
   padding-top: 100px;
   margin: 0px 190px 20px 700px;
   /* border: 3px solid green; */
   color: black;
   font-size: 15px;
   font-weight: 200;
   letter-spacing:1.2px;
   line-height:1.4;
 }

 div:nth-child(6) img{
           /* border: 3px solid green; */
           margin: 150px 700px 0px 200px;
           position: absolute;
           overflow:scroll;
         }





 /* div{
   float:left;
 }
 .img1{
   float:left;
   margin: 100px;
 }
 .content{
   float:left;
 } */
/* .gradient {
  opacity: 1;
  position: relative;
  z-index: 4;
  background-color: transparent;
  height: 300px;
  /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), black); */
/* }

.content {
  color: white;
  background-color: black;
} */
